127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in groups['all']|sort %}
{{ hostvars[item]['ansible_default_ipv4']['address'] }} {{ item }}
{% endfor %}